#teaser {
  width: 100%;
}

@media only screen and (min-width: 992px) {
  #teaser {
    width: 600px;
  }
}

.caption {
  font-size: 1rem;
  margin-left: 0rem;
  margin-right: 0rem;
  text-align: left;
}

.abstract {
  padding: 1em;
  background-color: #eaeaea;
}

h2 {
  margin-bottom: 0.5em;
}

.section {
  margin-top: 2em;
}
